.hero {
  position: relative;
  color: var(--color-white);
  padding: clamp(5.43em, -3.38em + 34.048vw, 17.9em) 0 1.56em;
  transition: filter 300ms;
}

.hero__title,
.hero__desc {
  max-width: 657px;
}

.hero__date {
  font-size: 0.75rem;
  margin-bottom: 0.66em;
}

.hero__title {
  font-size: clamp(2rem, 1.647rem + 1.365vw, 2.5rem);
  margin-bottom: 0.25em;
}

.hero__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 -18em;
  z-index: -1;
  filter: brightness(60%);
}

.hero__read-more {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.hero:hover {
  filter: brightness(130%);
}

@media (min-width: 1000px) {
  .hero {
    padding: 17.9em 0 3.68em;
  }

  .hero__date {
    font-size: 1rem;
  }

  .hero__title {
    font-size: 2.5rem;
  }
  .hero__img {
    object-position: 0 -46em;
  }
}
