.page-body__section {
  margin-bottom: 1.1em;
}
.page-body__section--last {
  margin-bottom: 0;
}

.page-body__title {
  margin-bottom: 1.1em;
}

.page-body__para {
  margin-bottom: 1.1em;
}

.page-body__para--last {
  margin-bottom: 0;
}
